autoray==0.7.2
matplotlib==3.5.1
numpy
pandas==3.0.0
PennyLane==0.37.0
PennyLane_Lightning==0.40.0
qiskit==2.3.0
qiskit-aer==0.17.2
qiskit-ibm-runtime==0.45.1
scikit-learn
scipy==1.17.0
seaborn==0.13.2
torch==2.9.1
torchinfo==1.8.0